* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: black;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -9999;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#avatar {
    border-radius: 50%;
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#introduction {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 70%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(41, 40, 40); /* Fallback for older browsers without RGBA-support */
    background: rgb(41, 40, 40, 0.5); 
    border-radius: 25px;
    backdrop-filter: blur(3px);
    padding: 1em;
}

#introduction p {
    text-align: center;
}

.home_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
}

nav {
    width: 100vw;
}

nav li {
    list-style-type: none;
    margin: 0 1.5vw;
    font-size: 1.75em;
}

nav a, .text_box a {
    text-decoration: none;
    font-size: 1em;
}

nav a:hover, .text_box a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav button {
    display: none;
}

.page_header {
    text-align: center;
    margin: 0.5em auto;
    font-size: 4em;
}

#sadge {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 70%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(41, 40, 40); /* Fallback for older browsers without RGBA-support */
    background: rgb(41, 40, 40, 0.5); 
    border-radius: 25px;
    backdrop-filter: blur(3px);
}

.text_box {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 2em;
    max-width: 70%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(41, 40, 40); /* Fallback for older browsers without RGBA-support */
    background: rgb(41, 40, 40, 0.5); 
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.fab, .fas{
    margin: 0.25em;
    line-height: 2em !important;
    width: 100px;
    height: 100px;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .2s;
}

.fab:hover, .fas:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.socials {
    text-decoration: none;
    border-radius: 50%;
    max-height: 120px;
    max-width: 120px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background:white;
    color: black;
}

.fa-film {
    background:white;
    color: black;
}

.fa-spotify {
    background: #1DB954;
    color: black;
}

@media only screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
        display: none;
        padding-left: 1em;
        padding-bottom: 0.5em;
    }

    nav a {
        display: block;
    }

    nav button {
        display: block;
        padding: 2vw;
        font-size: 3vh;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
        background-color: black;
        width: 3em;
        height: 3em;
        background-color: transparent;
    }

    .section_link {
        display: inline-block;
    }
    
    .section_icon {
        display: inline-flex;
        background-color: white;
        border-radius: 30px;
        height: 20em;
        width: 20em;
        margin: 0 0.7em;
        float: left;
    }
}